spring.application.name=s3-backup-service
s3.bucket.accessKeyId=reemplazarPorAccesKeyGeneradoEnIAM
s3.bucket.accessSecKey=reemplazarSecretKeyGeneradoEnIAM
s3.bucket.name=reemplazarPorNombreBucket
s3.bucket.region=us-east-1
